header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    z-index: 100;

    & nav {
        position: absolute;
        justify-content: center;
        left: 30%;
    }


    & h1 img {
        width: 135px;
        height: 50px;
        padding-left: 20px;
        box-sizing: border-box;
    }
}



.gnb {
    display: flex;
    gap: 80px;

    & a {
        font-size: 1.2rem;
        color: black;
        font-weight: 600;
    }
}


#top_btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid #EF7D7F;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    box-shadow: 5px 2px 2px #ff2323;
    cursor: pointer;

    &:hover{
        background-color: #EF7D94;
    }
}



main {
    width: 100%;

    & .sec1 {
        text-align: center;
    }

    & .sec1img>h1 {
        position: relative;
        bottom: 32vw;
        font-weight: 700;
        font-size: 6vw;
        color: #425a73;
        line-height: 0.9;
        letter-spacing: -3px;
    }

    & .sec1 img {
        width: 100%;
        height: 900px;
    }
}

.heart_bong {
    position: relative;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    box-sizing: border-box;

}

.bong_heart1 {
    position: absolute;
    width: 15vw;
    height: auto;
    animation: myfirst 3s linear 1s infinite alternate;
}

@keyframes myfirst {
    0% {
        opacity: 20%;
        left: 24%;
        top: 9vw;
    }

    25% {
        opacity: 80%;
        left: 24.5%;
        top: 9.5vw;
    }

    50% {
        opacity: 50%;
        left: 23.5%;
        top: 9.8vw;
    }

    75% {
        opacity: 100%;
        left: 24.8%;
        top: 9.5vw;
    }

    100% {
        opacity: 10%;
        left: 24%;
        top: 9vw;
    }
}

.bong_heart1>img {
    width: 100%;
}

.bong_heart2 {
    position: absolute;
    width: 13vw;
    height: auto;
    animation: myfirst1 3s linear 1s infinite alternate;
}

@keyframes myfirst1 {

    0% {
        opacity: 0%;
        left: 45%;
        top: 29vw;
    }

    25% {
        opacity: 50%;
        left: 44.5%;
        top: 28.5vw;
    }

    50% {
        opacity: 80%;
        left: 44.8%;
        top: 28.8vw;
    }

    75% {
        opacity: 100%;
        left: 44.5%;
        top: 27.5vw;
    }

    100% {
        opacity: 30%;
        left: 45%;
        top: 29vw;
    }
}

.bong_heart2>img {
    width: 100%;
}

.bong_heart3 {
    position: absolute;
    width: 13vw;
    height: auto;
    transform: scaleX(-1);
    animation: myfirst2 3s linear 1s infinite alternate;
}

@keyframes myfirst2 {
    0% {
        opacity: 20%;
        right: 25%;
        top: 8vw;
    }

    25% {
        opacity: 80%;
        right: 24.5%;
        top: 9vw;
    }

    50% {
        opacity: 50%;
        right: 24.8%;
        top: 7.8vw;
    }

    75% {
        opacity: 100%;
        right: 24.5%;
        top: 8.5vw;
    }

    100% {
        opacity: 10%;
        right: 25%;
        top: 8vw;
    }
}

.bong_heart3>img {
    width: 100%;
}




/* about */


.about_title {
    position: relative;
    padding: 1vw;
    height: 100%;
    margin-top: -2%;

    & h2 {
        padding: 10px 30px;
        box-sizing: border-box;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: bold;
        color: #425a73;
    }

}

.about_box {
    position: relative;
    display: flex;
    padding: 30px;
    box-sizing: border-box;

    & a {
        position: absolute;
        width: 300px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #333;
        border-radius: 10px;
        left: 44%;
        top: 83%;
    }
}


.about_bg {
    position: relative;
    left: 28px;
    width: 700px;
    height: 600px;
    background: linear-gradient(#f6bbcf7e, #b9dcf37c, #bbdbb677);
    border-radius: 100px;
    box-sizing: border-box;

    & img {
        position: absolute;
        top: 3vw;
        left: 15vw;
        width: 358px;
        height: 430px;
        text-indent: -9999px;
        border-radius: 80px;
        box-sizing: border-box;
        background-image: url(../img/aboutimg.jpg);
    }

    &:hover a{
        color: #ff0004;
    }
}




.about_txt {
    position: relative;
    justify-content: space-between;
    left: 10%;
    top: 1vw;
    font-size: 1.2rem;
    line-height: 1.4;

    & p {
        padding-bottom: 8px;
        word-wrap: break-word;
        letter-spacing: -.2px;
        box-sizing: border-box;
        font-weight: 600;
        color: #333;
    }

    & img {
        padding-bottom: 20px;
        box-sizing: border-box;
    }
}

.tag_skill {
    float: right;

    & li {
        float: right;
        margin: 10px;
        cursor: pointer;
        margin-left: 0;
        position: relative;
        font-size: 1vw;
        font-weight: 600;
        box-sizing: border-box;
        padding: 10px;
        top: -6vw;

    }

    & .pro1 {
        box-shadow: 0 0 5px #EF7D94;
        border-radius: 50px;
        padding: 10px 25px;
    }

    & .pro2 {
        box-shadow: 0 0 5px #82C3EC;
        border-radius: 50px;
        padding: 10px 25px;
    }

    & .pro3 {
        box-shadow: 0 0 5px #8DA38B;
        border-radius: 50px;
        padding: 10px 25px;
    }

}



/* skill */

.skill_title {
    position: relative;
    padding: 2vw;
    padding-top: 100px;
    height: 100%;
    box-sizing: border-box;

    & h2 {
        padding: 10px 30px;
        box-sizing: border-box;
        margin-bottom: 3rem;
        font-size: 3rem;
        font-weight: bold;
        color: #425a73;
    }
}

.skils_wrap {
    position: relative;
    width: 50%;
    margin: 0 auto;
    bottom: 100px;

    & .skill_wrap {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;

        & .skill_img {
            flex: 0 0 60px;
            width: 50px;
            height: 50px;

            & img {
                width: 100%;
            }
        }
    }
}

.skill_bg {
    width: 100%;
    background-color: #efefef;
    border-radius: 50px;
    box-sizing: border-box;
    flex: 1;

    & .skill_bar {
        color: #fff;
        font-weight: 600;
        padding: 20px 0;
        width: 0;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;

    }

    & .html {
        background-color: #EF7D7F;
    }

    & .css {
        background-color: #7D94EF;
    }

    & .js {
        background-color: #EF9F7D;
    }

    & .jq {
        background-color: #8DA38B;
    }

    & .figma {
        background-color: #EF7D94;
    }

    & .github {
        background-color: #333;
    }

    & .ps {
        background-color: #7DE4EF;
    }

    & .ai {
        background-color: #fabd5b;
    }
}

/* work */
#work {
    width: 1200px;
    height: 960px;
    margin: 0 auto;
}

.work_title {
    position: relative;
    height: 100%;
    box-sizing: border-box;

    & h2 {
        margin-bottom: 50px;
        padding-top: 90px;
        font-size: 4rem;
        font-weight: bold;
        color: #425a73;
        letter-spacing: 1px;
        text-align: center;
    }
}

.slide-box {
    & h3 {
        position: relative;
        top: 50%;

    }

    & p {
        position: relative;
        top: 50%;
    }
}

.work_img {
    position: absolute;
    left: 40%;
    top: 10px;
    width: 500px;
    height: 300px;
    text-indent: -9999px;
    border-radius: 50px;
    border: 2px solid #425a73;
    box-sizing: border-box;
    background-image: url(../img/work1.png);
}

.work_img2 {
    position: absolute;
    left: 40%;
    top: 0;
    width: 500px;
    height: 330px;
    text-indent: -9999px;
    border-radius: 50px;
    border: 2px solid #425a73;
    box-sizing: border-box;
    background-image: url(../img/work4.png);
}

.work_img3 {
    position: absolute;
    left: 40%;
    top: -13%;
    width: 400px;
    height: 420px;
    text-indent: -9999px;
    border-radius: 50px;
    border: 2px solid #425a73;
    box-sizing: border-box;
    background-image: url(../img/work3.png);
}

.work_img4 {
    position: absolute;
    left: 40%;
    top: 0;
    width: 450px;
    height: 330px;
    text-indent: -9999px;
    border-radius: 50px;
    border: 2px solid #425a73;
    box-sizing: border-box;
    background-image: url(../img/work5.png);
}

/* project */
#project {
    width: 1200px;
    height: 960px;
    margin: 0 auto;
}



.project_title {
    position: relative;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;

    & h2 {
        margin-bottom: 40px;
        padding-top: 80px;
        font-size: 4rem;
        font-weight: bold;
        color: #425a73;
        letter-spacing: 1px;
        text-align: center;
    }
}

.project_bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);


    & .sr_only {
        display: none;
        text-indent: -9999px;
    }

    & .project_img {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 310;
        margin: -400px 0 0 -450px;
        width: 900px;
        height: 800px;
        overflow-y: scroll;
    }
}



& .clearfix:after {
    display: block;
    clear: both;
    content: '';
}


.container {


    & .mnu_clearfix {
        position: relative;
        justify-content: space-between;
        display: flex;
        width: 500px;
        margin: 0 auto 20px;
        font-weight: 500;
        color: #425a73;

        & .on ::after {
            content: none;
        }

        & li {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }


    & a {
        display: block;
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        transition: all 0.4s;
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
    }
}


.swiper {
    width: 1200px;
    height: 500px;
    background-color: #ccc;
    background: linear-gradient(#f6bbcf7e, #b9dcf37c, #bbdbb677);
    border-radius: 100px;
    box-sizing: border-box;
}

.swiper-slide {

    & .slide-box1 {
        position: relative;
        justify-content: space-between;
        left: 150px;
        top: 80px;


        & h3 {
            margin-bottom: 20px;
            margin-left: -70px;
            font-size: 30px;
            font-weight: 600;
        }

        & p {
            margin-bottom: 10px;
            margin-left: -70px;
            font-size: 16px;
            line-height: 1.8;
            font-weight: 500;
        }
    }

    & a {
        float: left;
        width: 140px;
        margin: 80px 10px 0 0;
        text-align: center;
        font-size: 16px;
        font-size: 500;
        color: #425a73;
        background-color: #fff;
        border: 1px solid #425a73;
        border-radius: 5px;
    }


    & .slide-box2 {
        position: relative;
        justify-content: space-between;
        left: 150px;
        top: 80px;


        & h3 {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 600;
        }

        & p {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 1.8;
            font-weight: 500;
        }
    }


}

.view_img1 {
    position: absolute;
    left: 40%;
    top: 0;
    width: 480px;
    height: 384px;
    text-indent: -9999px;
    background-image: url(../img/zeze.png);
}

.view_img2 {
    position: absolute;
    left: 40%;
    top: 0;
    width: 480px;
    height: 384px;
    text-indent: -9999px;
    background-image: url(../img/cucu.png);
}

.view_img3 {
    position: absolute;
    left: 40%;
    top: 0;
    width: 480px;
    height: 384px;
    text-indent: -9999px;
    background-image: url(../img/jeje.png);
}

.view_img4 {
    position: absolute;
    left: 40%;
    top: 0;
    width: 480px;
    height: 384px;
    text-indent: -9999px;
    background-image: url(../img/ptpt.png);
}

& .boxboxbox {

    .trigger:hover {
        background-color:#ff6397cb;
    }
    .trigger2:hover {
        background-color:#82C3EC;
    }

    box-sizing: border-box;

    &:hover h2 {
        color: black;
    }

    box-shadow: 3px 3px 4px 4px var(--orange);

}

/* contact */

#contact {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 860px;

    & h2 {
        position: absolute;
        right: 50%;
        top: 100px;
        margin-right: -450px;
        margin-bottom: 20px;
        font-size: 4rem;
        font-weight: bold;
        color: #425a73;
        letter-spacing: 1px;
        text-align: center;
    }

    & .contact_img {
        position: absolute;
        right: 50%;
        top: 200px;
        margin-right: -985px;
        width: 800px;
        height: 500px;
        border-radius: 50px;
        background-image: url(../img/con_img.jpg);
    }

    & .contact_txt {
        position: absolute;
        top: 40%;
        left: 40%;
        margin-left: -400px;
        margin-top: -90px;
        text-align: center;

        & p {
            font-size: 20px;
            line-height: 1.8;
            letter-spacing: 1px;
        }

        & strong {
            font-weight: 600;
        }
    }

    & .p {
        font-size: 0.5rem;
        font-weight: 500;
    }

    & .pp {
        font-size: 0.5rem;
        font-weight: 500;
    }
}

& .link{
   .git:hover{
        background-color: #e0a9ff;
    }
    &:hover a {
        color: black;
    } 
}


#contact>.contact_txt>p+p {
    margin-bottom: 20px;
    font-size: 16px;
}

#contact>.contact_txt>p+p:before {
    content: '/';
    display: block;
    padding: 20px 0;
    font-weight: 300;
    font-size: 30px;
    color: #425a73;
    opacity: 0.3;
}

#contact>.contact_txt>.pp:before {
    content: none;
}

#contact>.contact_txt>.link {
    width: 394px;
    margin: 0 auto;
}

#contact>.contact_txt>.link>a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    border: 1px solid #425a73;
    border-radius: 5px;
    transition: all 0.4s;
}

footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(#f6bbcf7e, #b9dcf37c, #bbdbb677);
    box-sizing: border-box;

    & address {
        padding-top: 30px;
        font-size: 0.8rem;
        font-weight: 500;
        color: #333;
        line-height: 1.6;
        text-align: center;
    }
}